.main-back-auth{
    height: 100% !important;
    width: 100% !important;
    /* background-color: rgba(255, 0, 0, 0.228); */
    background: url('/assets/authentication-back-1.jpeg') center/cover no-repeat !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field-holder{
    height: auto;
    width: auto;
    background-color: rgba(22, 21, 21, 0.258);
    border-radius: 5%;
    padding: 1.5% 4%;
    box-shadow: 2.5px 1.5px 7px rgba(42, 42, 42, 0.791);
    border-radius: 1.5rem;
    backdrop-filter: blur(5px); 
}

.auth-main{
   height: 100%;
   width: auto;
   /* background-color: red; */
}

/* .alert{
    background-color: transparent !important;
} */