.page-hold{
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    position: absolute !important;
    top: 0 !important;
}

.outlined-ele{
    margin: 2% 5% !important;
    width: auto !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.bottom{
    /* width: 100%;
    min-height: 96%; */
    display: flex !important;

}

.bt-left{
    height: 100% !important;
    width: 50% !important;
    margin-left: 5% !important;
    margin-bottom: 2% !important;
    /* background-color: red; */
}

.bt-right{
    height: 100% !important;
    width: 50% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    /* background-color: rgba(255, 0, 136, 0.443); */
}

.bt-l-content{
    margin-top: 21rem !important;
    margin-left: 3rem !important;
    position: relative !important;
    bottom: 0 !important;
    width: 90% !important;
    height: 15rem !important;
   
}

.l-one{
    height: 55% !important;
    width: 100% !important;
    /* background-color: rgba(255, 255, 0, 0.523); */
    display: flex !important;
}

.l-two{
    height: 20% !important;
    width: 100% !important;
    white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
    /* background-color: rgba(255, 94, 0, 0.523); */
}

.l-three{
    height: 17% !important;
    width: 100% !important;
    /* background-color: rgba(255, 0, 55, 0.523);    */
}

.l-o-one{
    height: 100% !important;
    width: auto !important;
    display: flex !important;
    margin-left: .9rem !important;
}

.l-o-two{
    height: 100% !important;
    width: auto !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.deg{
    margin-top: 1.5rem;
    height: 3rem;
    width: 3rem;
    /* background-color: rgba(217, 0, 255, 0.426); */
}

.bt-r-t{
    height: 10rem !important;
    width: 17rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    /* background-color: rgba(0, 255, 255, 0.523); */
}

.bt-r-b{
  height: 25rem !important;
  width: 17rem !important;
  display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    /* background-color: rgba(0, 255, 255, 0.523); */
}

.log-cont{
    height : 3rem !important;
    width: 3rem !important;
    box-shadow: 2.5px 1.5px 7px rgba(42, 42, 42, 0.791);
    border-radius: 50%;
    backdrop-filter: blur(5px);  
    background-color: rgba(6, 6, 6, 0.474); 
    display: flex;
    justify-content: center;
    align-items: center;
}